<html>
<head>
    <meta charset="UTF-8">
    <title>Google Calendar</title>
</head>
<body>
<a href="https://accounts.google.com/o/oauth2/v2/auth?scope=https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fcalendar.readonly%20&access_type=offline&include_granted_scopes=true&response_type=code&state=state_parameter_passthrough_value&redirect_uri=http%3A%2F%2Flocalhost%3A8080%2Fgoogle%2FreceiveAC&client_id=96671096559-bck5buk8jv7ngte56g3uqhpjf3frnu9h.apps.googleusercontent.com ">
    요청 URI
</a>
</body>
</html>