<html>
<head>
    <meta charset="UTF-8">
    <title>Google Calendar</title>
</head>
<body>
<form id="acform" action="https://oauth2.googleapis.com/token" method="post"
      enctype="application/x-www-form-urlencoded">
    <input type="hidden" name="code" value="{{code}}">
    <input type="hidden" name="client_id" value="96671096559-bck5buk8jv7ngte56g3uqhpjf3frnu9h.apps.googleusercontent.com">
    <input type="hidden" name="client_secret" value="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">
    <input type="hidden" name="redirect_uri" value="http://localhost:8080/google/receiveAC">
    <input type="hidden" name="grant_type" value="authorization_code">
</form>
<script type="text/javascript">
    this.document.getElementById("acform").submit();
</script>
</body>
</html>